body{

  font-family: 'Oswald', sans-serif;

}

.navbar{

  background-color: black;
  color: white;
}

.navbar a{
  color: white;
}

#search-container{
padding-top: 10px;

}
#search {
  padding-top: 10px;
}

.form-text.text-muted{
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: black !important;

}

.form-group{
  margin-bottom: .5rem;
}

.btn-primary{
  color: #fff;
  background-color: #ec1d23;
  border-color: #ec1d23;
}

.btn-primary:hover{
  color: #fff;
  background-color: #bd2e32;
  border-color: #bd2e32;
}
